In [4]:
import pandas as pd
import numpy as np
from combat_iq.ml_logic import preprocessors

ModuleNotFoundError: No module named 'combat_iq'

In [2]:
df = pd.read_csv('../raw_data/data.csv')

In [3]:
df

,R_fighter,B_fighter,Referee,date,location,Winner,title_bout,weight_class,B_avg_KD,B_avg_opp_KD,...,R_win_by_Decision_Unanimous,R_win_by_KO/TKO,R_win_by_Submission,R_win_by_TKO_Doctor_Stoppage,R_Stance,R_Height_cms,R_Reach_cms,R_Weight_lbs,B_age,R_age
0,Adrian Yanez,Gustavo Lopez,Chris Tognoni,2021-03-20,"Las Vegas, Nevada, USA",Red,False,Bantamweight,0.000,0.0,...,0,1,0,0,Orthodox,170.18,177.80,135.0,31.0,27.0
1,Trevin Giles,Roman Dolidze,Herb Dean,2021-03-20,"Las Vegas, Nevada, USA",Red,False,Middleweight,0.500,0.0,...,0,3,0,0,Orthodox,182.88,187.96,185.0,32.0,28.0
2,Tai Tuivasa,Harry Hunsucker,Herb Dean,2021-03-20,"Las Vegas, Nevada, USA",Red,False,Heavyweight,NaN,NaN,...,1,3,0,0,Southpaw,187.96,190.50,264.0,32.0,28.0
3,Cheyanne Buys,Montserrat Conejo,Mark Smith,2021-03-20,"Las Vegas, Nevada, USA",Blue,False,WomenStrawweight,NaN,NaN,...,0,0,0,0,Switch,160.02,160.02,115.0,28.0,25.0
4,Marion Reneau,Macy Chiasson,Mark Smith,2021-03-20,"Las Vegas, Nevada, USA",Blue,False,WomenBantamweight,0.125,0.0,...,1,2,2,0,Orthodox,167.64,172.72,135.0,29.0,43.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6007,Remco Pardoel,Alberta Cerra Leon,John McCarthy,1994-03-11,"Denver, Colorado, USA",Red,False,OpenWeight,NaN,NaN,...,0,0,0,0,Southpaw,190.50,NaN,260.0,NaN,NaN
6008,Orlando Wiet,Robert Lucarelli,John McCarthy,1994-03-11,"Denver, Colorado, USA",Red,False,OpenWeight,NaN,NaN,...,0,0,0,0,Southpaw,177.80,NaN,170.0,NaN,NaN
6009,Johnny Rhodes,David Levicki,John McCarthy,1994-03-11,"Denver, Colorado, USA",Red,False,OpenWeight,NaN,NaN,...,0,0,0,0,Orthodox,182.88,NaN,210.0,NaN,NaN
6010,Patrick Smith,Ray Wizard,John McCarthy,1994-03-11,"Denver, Colorado, USA",Red,False,OpenWeight,NaN,NaN,...,0,0,0,0,Orthodox,187.96,NaN,225.0,NaN,30.0
6011,Scott Morris,Sean Daugherty,John McCarthy,1994-03-11,"Denver, Colorado, USA",Red,False,OpenWeight,NaN,NaN,...,0,0,0,0,Orthodox,177.80,NaN,210.0,18.0,NaN

In [4]:
# Select only features describing a fighter by prefix R or B
blue = df[[col for col in df.columns if col.startswith('B_') or col.startswith('date')]]
red = df[[col for col in df.columns if col.startswith('R_') or col.startswith('date')]]

# Remove prefixes in column names
blue.columns = [col.replace('B_', '') if col.startswith('B_') else col for col in blue.columns]
red.columns = [col.replace('R_', '') if col.startswith('R_') else col for col in red.columns]

# Concat all fighters
all_fighters = pd.concat([blue,red])

# Keep only first occurence of fighter (most recent stats)
all_fighters = all_fighters.drop_duplicates(subset='fighter', keep='first')

In [5]:
all_fighters

,fighter,date,avg_KD,avg_opp_KD,avg_SIG_STR_pct,avg_opp_SIG_STR_pct,avg_TD_pct,avg_opp_TD_pct,avg_SUATT,avg_opp_SUATT,...,avg_SUB_ATT,avg_opp_SUB_ATT,avg_SIG_STatt,avg_SIG_STlanded,avg_opp_SIG_STatt,avg_opp_SIG_STlanded,avg_TOTAL_STatt,avg_TOTAL_STlanded,avg_opp_TOTAL_STatt,avg_opp_TOTAL_STlanded
0,Gustavo Lopez,2021-03-20,0.000,0.0,0.420000,0.49500,0.330,0.36000,0.500,1.0000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Roman Dolidze,2021-03-20,0.500,0.0,0.660000,0.30500,0.300,0.50000,1.500,0.0000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Harry Hunsucker,2021-03-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Montserrat Conejo,2021-03-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Macy Chiasson,2021-03-20,0.125,0.0,0.535625,0.57875,0.185,0.16625,0.125,0.1875,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5939,Rafael Carino,1996-05-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5940,Mark Schultz,1996-05-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5964,Scott Bessac,1995-09-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5980,Jon Hess,1995-04-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6004,Frank Hamaker,1994-03-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
fighter_red = "Max Griffin"
fighter_blue = 'Ebenezer Fontes Braga'

In [9]:
X_blue = all_fighters[all_fighters['fighter'] == fighter_blue]
X_blue.columns = ["B_"+col for col in X_blue.columns]
X_blue

,B_fighter,B_date,B_avg_KD,B_avg_opp_KD,B_avg_SIG_STR_pct,B_avg_opp_SIG_STR_pct,B_avg_TD_pct,B_avg_opp_TD_pct,B_avg_SUATT,B_avg_opp_SUATT,...,B_avg_SUB_ATT,B_avg_opp_SUB_ATT,B_avg_SIG_STatt,B_avg_SIG_STlanded,B_avg_opp_SIG_STatt,B_avg_opp_SIG_STlanded,B_avg_TOTAL_STatt,B_avg_TOTAL_STlanded,B_avg_opp_TOTAL_STatt,B_avg_opp_TOTAL_STlanded
5856,Ebenezer Fontes Braga,1998-10-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
X_red = all_fighters[all_fighters['fighter'] == fighter_red]
X_red.columns = ["R_"+col for col in X_red.columns]
X_red

,R_fighter,R_date,R_avg_KD,R_avg_opp_KD,R_avg_SIG_STR_pct,R_avg_opp_SIG_STR_pct,R_avg_TD_pct,R_avg_opp_TD_pct,R_avg_SUATT,R_avg_opp_SUATT,...,R_avg_SUB_ATT,R_avg_opp_SUB_ATT,R_avg_SIG_STatt,R_avg_SIG_STlanded,R_avg_opp_SIG_STatt,R_avg_opp_SIG_STlanded,R_avg_TOTAL_STatt,R_avg_TOTAL_STlanded,R_avg_opp_TOTAL_STatt,R_avg_opp_TOTAL_STlanded
6,Max Griffin,2021-03-20,0.046875,0.125,0.459277,0.404687,0.322188,0.068867,0.189453,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
new_column_names = pd.concat([X_red, X_blue]).columns
data = list(X_red.iloc[0]) + list(X_blue.iloc[0])

new_df = pd.DataFrame(data).T
new_df.columns = new_column_names

new_df = new_df[df.columns]
new_df

KeyError: "['Referee', 'date', 'location', 'Winner', 'title_bout', 'weight_class'] not in index"